<a href="https://colab.research.google.com/github/Rymendelous/projetadd/blob/main/projetadd.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive') #pour acc√©der au drive

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
data_path='/content/drive/MyDrive/projetadd/data/raw/covid.csv'
data_path_agemedian='/content/drive/MyDrive/projetadd/data/raw/agemedian.csv'
data_path_pop='/content/drive/MyDrive/projetadd/data/raw/densitepopulation/pop2022.csv'
data_path_education='/content/drive/MyDrive/projetadd/data/raw/education/education.csv'
data_path_revenu='/content/drive/MyDrive/projetadd/data/raw/revenumedian/revmedian.csv'
data = pd.read_csv(data_path, sep=";", nrows=50)

In [ ]:
data.head()

,dep,jour,n_dose1,n_complet,n_rappel,n_cum_dose1,n_cum_complet,n_cum_rappel,couv_dose1,couv_complet,couv_rappel
0,1,2020-12-27,0,0,0,0,0,0,0.0,0.0,0.0
1,1,2020-12-28,0,0,0,0,0,0,0.0,0.0,0.0
2,1,2020-12-29,0,0,0,0,0,0,0.0,0.0,0.0
3,1,2020-12-30,0,0,0,0,0,0,0.0,0.0,0.0
4,1,2020-12-31,0,0,0,0,0,0,0.0,0.0,0.0

In [ ]:
data_dep = pd.read_csv(data_path_pop, sep=";")
data_dep.head()

      AGE    GEO GEO_OBJECT RP_MEASURE SEX  TIME_PERIOD  OBS_VALUE
0  Y_GE80  88244        COM        POP  _T         2022  34.527109
1  Y_GE80  43111        COM        POP  _T         2022  70.793678
2  Y_LT15  36205        COM        POP  _T         2022   8.643833
3  Y65T79  85286        COM        POP  _T         2022  83.169815
4  Y65T79  34303        COM        POP  _T         2022  18.000000

In [ ]:
pop = data_dep[data_dep['GEO_OBJECT'] == 'DEP']
pop.head()

           AGE  GEO GEO_OBJECT RP_MEASURE SEX  TIME_PERIOD      OBS_VALUE
308097  Y25T39   10        DEP        POP   M         2011   26875.145016
308098  Y_GE65  973        DEP        POP   M         2011    4719.839110
308099  Y65T79   44        DEP        POP  _T         2011  139063.173052
308100  Y_LT15   33        DEP        POP   F         2011  123907.345840
308101  Y55T64   43        DEP        POP   M         2011   15991.538560